*{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}


.geral{
    display: flex;
    flex-direction: row;
}

.ligar{
    display: block;
    margin: 0 auto;
    width: 70px;
    height: 40px;
    border-radius: 200%;
    text-align: center;
    background-color: green;
    font-weight: bolder;
    margin-bottom: 40px;
    margin-top: 20px;
}

#calculadora{
    display: flex;
    background-color: rgb(100, 99, 99);
    width: 400px; 
    height: 4%;
    margin: 0 auto;
    flex-direction: column;
    border-radius: 25px;
    align-items: center;
}

#visor{
    margin-top: 5px;
    background-color: white;
    border: 2px solid;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 6px;
}

.teclas_geral{
    font-size: 18px;    
    height: 50px;
    width: 50px;
    margin: 7px;
    background-color: green;
}

input.teclas_operacoes-1{
margin-top: 40px;
}

.numeros{
background-color:rgb(183, 183, 183) ;
}
.operacoes{
    background-color: rgb(31, 31, 131);
}
.operacao_especial{
    background-color:rgb(183, 183, 183) ;
}

/* Estilizar a segunda Section (Memoria) que ira armazenar as contas realizadas */

#memoria{
    display: flex;
    width: 150px;
    margin-left: 30px;
    border: 3px solid;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(247, 201, 126);
    font-weight: bolder;
}

#lista_memoria{
    list-style-type: none;
}

li{
    margin-bottom: 7px;
}
.teclas_geral:hover{
background-color: yellow;
cursor: pointer;
}


/* JavaScript */

.off{
    background-color:rgb(58, 58, 58) ;
    cursor: not-allowed;
}